[user]
	name = Pablo Bernardo
	email = iam@pbernardo.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIkOBXmhj6S0sCNUyQSydsD8Vu3AwoLjTfBHXByAaDpF
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Nord
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranchName = main
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
